<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
	<!-- InterSCity IP address and TCP port - do *NOT* include http protocol  -->
    <param-name>interSCityIPAddress</param-name>
    <!-- <param-value>cidadesinteligentes.lsdi.ufma.br</param-value> -->
    <param-value>172.16.110.131:8000</param-value>
  </context-param>
  <context-param>
    <param-name>gatewayIP</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>gatewayPort</param-name>
    <param-value>5500</param-value>
  </context-param>
  <context-param>
  	<description>Working directory</description>
  	<param-name>workDir</param-name>
  	<param-value>/media/meslin/4E7E313D7E311EE1/Users/meslin/Google Drive/workspace-desktop-ubuntu/RegionAlert/</param-value>
  </context-param>
  <context-param>
  	<description>Group description filename</description>
  	<param-name>groupDescriptionFilename</param-name>
  	<param-value>Bairros/RioDeJaneiro.lista</param-value>
  </context-param>
</web-app>